  #root {
    /* 设置颜色变量 */
    --color-text-primary: rgba(255, 255, 255, 1);
    --color-text-secondary: rgba(255, 255, 255, 0.4);

    /* 表头 */
    --color-pink-primary: rgba(238, 171, 189, 1);

    /* 行 */
    /* --color-row-hover: rgba(244, 188, 204, 1);  颜色有点奇怪 */
    --color-row-hover: #333333;
    --color-row-border: #352227;
    --color-thead-sort: #444;

    /* 趋势 */
    --color-upside: rgba(70, 193, 127, 1);
    --color-downside: rgba(229, 56, 56, 1);

    /* 背景边框 */
    --color-bg: rgba(0, 0, 0, 1);
    --color-border: rgba(60, 43, 47, 1);


    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-bg);
  }